---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Coaches from "../components/Coaches.astro";
import Gallery from "../components/Gallery.astro";
import Book from "../components/Book.astro";
import Contact from "../components/Contact.astro";
import RevealScript from "../components/RevealScript.astro";
---
<Layout>
  <RevealScript />
  <section class="band-light -mt-12 pt-12">
    <Hero />
  </section>
  <section class="band-bright">
    <About />
  </section>
  <section class="band-light">
    <Coaches />
  </section>
  <section class="band-bright">
    <Gallery />
  </section>
  <section class="band-light">
    <Book />
  </section>
  <section class="band-bright">
    <Contact />
  </section>
</Layout>
