<section id="about" class="max-w-4xl mx-auto p-6">
  <h2 class="text-2xl font-bold">About</h2>
  <p class="mt-4">Track Attack Running is a run coaching services company specializing in transformative speed workouts and run form analysis for runners and multi-sport athletes. Track Attack Running was founded in 2004 in Sacramento by Tony Pelosi and Chi-An Wang. As collegiate track captains who went on to become competitive amateur triathletes, they adapted lessons from masters swimming to turn monotonous track workouts into fun yet impactful group experiences that could be enjoyed by athletes of all levels. Their book, which builds on their experience operating successful running programs to build speed and achieve personal bests for 5ks to marathons, is coming soon.</p>
</section>
