<section id="about" class="max-w-4xl mx-auto p-6 reveal">
  <h2 class="text-2xl font-bold">About</h2>
  <p class="mt-4">Track Attack Running is a California-based run coaching company dedicated to helping runners and multi-sport athletes improve their running times and boost their enjoyment in the sport. We provide group-based interval workouts on the track and one-on-one running form analysis using biofeedback.</p>
  <p class="mt-4">At the heart of Track Attack Running is the philosophy that it is every bit as important to routinely spend time focusing on form, efficiency, strength, pacing, muscular endurance, speed, flexibility and even a little agility and quickness as it is to get in your long or steady-paced runs. Many of our runners look forward to their weekly track workout as their favorite physical activity of the week, and that vorfreude, even more than helping them achieve personal bests, is what inspires us to coach.</p>
</section>
